<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- spring依赖的配置文件   -->
	<bean id="ttcPropertyPlaceholderConfigurer"
		class="com.zjtachao.framework.common.util.tools.TtcPropertyPlaceholderConfigurer" >
		<property name="locations">
			<list>
				<value>classpath:/config/deploy/druid.properties</value>
				<value>classpath:/config/deploy/AppPropertyPlaceholder.properties</value>
				<value>classpath:/config/deploy/AppConfig.properties</value>
				<value>classpath:/config/deploy/redis.properties</value>
				<value>classpath:/config/deploy/mail.properties</value>
			</list>
		</property>
	</bean>	

	<!--  对象转换工具  -->
 	<bean id="dozerBeanMapper" class="com.zjtachao.framework.common.util.tools.DozerBeanMapperFactoryBean" init-method="init">
        <property name="mappingFiles">
            <list>
                <value>config/deploy/dozer-bean-mappings.xml</value>
            </list>
        </property>
    </bean>
 	<bean id="dozerBeanUtil" class="com.zjtachao.framework.common.util.tools.DozerBeanUtil">
        <property name="dozerBeanMapper" ref="dozerBeanMapper"/>
    </bean>


    <!--  去内存工具  -->
    <bean id="configUtil" class="com.zjtachao.framework.common.util.tools.ConfigUtil">
    	<property name="ttcPropertyPlaceholderConfigurer" ref="ttcPropertyPlaceholderConfigurer" />
    </bean>    

    <!--  redis工具   -->
 <bean id="ttcRedis" class="com.zjtachao.framework.service.redis.TtcRedis">
    </bean>   
    		
    <!--  线程池   -->	
    <bean id="threadPoolTaskExecutor"  
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
		<property name="corePoolSize" value="10" />  
		<property name="maxPoolSize" value="15" />  
		<property name="queueCapacity" value="1000" />  
	</bean>  
	
	<!--   spring工具 -->
	<bean id="springContextUtil" class="com.zjtachao.framework.service.spring.SpringContextUtil" />
	
</beans>